body{
    margin: 0;
    padding: 0;
    background-image: url('sunset-1651878.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.fundo{
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: transparent;
    border: none;
    color: #fff;
    transition: 0.5s;
    transform-origin: 0 0;
}

.botao:hover {
    transform: rotate(10deg);
}

#resultado{
    background-color: transparent;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: white;
    text-align: right;
    padding: 5px;
}
